
body {
  background-color: blue;
}

.main {
  position: absolute;
  background-color: white;
  transform: translate(50%,20%);
  width: 500px;
  height: 700px;
  border-radius: 1%;
  border: 1px solid black;
  box-shadow: 0 0 14px rgba(0,0,0,1);
}

#setting {
  position: absolute;
  background-color: grey;
  transform: translate(5%,10%);
  width: 450px;
  height: 70px;
  border-radius: 5px;
  border: 2px solid black;
}